¡<footer class="text-center text-white main-footer">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Este trabajo ha sido desarollado por Pablo Pascual, Miguel Ramos, Jose Ignacio Del Valle, Ricardo Delgado y Pablo Poza.
      </p>
    </section>
    <section class="">
      <div class="mb-4 mb-md-0">
        <h5 class="text-uppercase"><strong>Links</strong></h5>
        <ul class="list-unstyled mb-0">
          <li>
            <section class="mb-4">
              Github Web  &#8594;
              <a class="btn btn-footer btn-floating m-1" href="https://github.com/pablopascu99/proyecto-computacion2-angular" role="button">
                  <img class="iconImage" src="../../assets/images/githubIcon.png">
              </a>
              Github API  &#8594;
              <a class="btn btn-footer btn-floating m-1" href="https://github.com/joseIgnaciodv/Analisis-de-sentimiento" role="button">
                  <img class="iconImage" src="../../assets/images/githubIcon.png">
              </a>
            </section>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Proyecto Computacion 2
  </div>
</footer>