$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;
$light-grey: #CDCCCC;

.main-footer{
    background: $blue;
}

.iconImage{
    display: block;
    width: 20px;
    height: 20px;
}

.btn-footer{
    background: white;
    transition: 1s; 
}
.btn-footer:hover {
    background: $light-grey;
}

h5 {
    letter-spacing: 4px;
}

p {
    letter-spacing: 2px;
}

a:link { 
    text-decoration: none; 
}

