<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer>
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headers-footer"> NBHD</h5>
                    <img src="../../assets/images/NBHD.png" alt="NBHD" class="img-fluid" width="70">
                    <p><i class="fa fa-location-arrow"></i>  C. Tajo, s/n, 28670 Villaviciosa de Odón, Madrid </p>
                    <p><i class="fa fa-phone"></i>  +34 917 40 72 72 </p>
                    <p><i class="fa fa fa-envelope"></i> consultantnbhd@gmail.com  </p>
                    
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headers-footer"> Enlaces </h5>
                <ul class="footer_ul_amrc">
                    <li><a> </a></li>
                    <li><a> </a></li>
                    <li><a href="https://www.yaencontre.com/"> Ya Encontre</a></li>
                    <li><a href="https://www.20minutos.es/"> 20 Minutos </a></li>
                    <li><a href="https://www.elmundo.es/"> El Mundo</a></li>
                    <li><a href="https://noticiasparamunicipios.com/"> Noticias para municipios </a></li>
                    <li><a href="https://www.yelp.com/"> Yelp </a></li>
                    <li><a href="https://mapsplatform.google.com/"> Google API </a></li>
                </ul>
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headers-footer">Repositorios</h5>
                <ul class="footer_ul_amrc">
                    <li><a> </a></li>
                    <li><a> </a></li>
                    <li><a href="https://github.com/MiguelRamosLop/Scrapers_pc2.git">Web Scrapers </a></li>
                    <li><a href="https://github.com/pablopascu99/nbhd_backend.git" class="fab fa-laravel "> Backend con Laravel </a></li>
                    <li><a href="https://github.com/pablopascu99/proyecto-computacion2-angular.git" class="fab fa-angular "> FrontEnd con Angular </a></li>
                </ul>
            </div>
            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headers-footer">Síguenos</h5>
                <ul class="footer_ul2_amrc">
                    <li><a> </a></li>
                    <li><a> </a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g fleft padding-right"></i> </a><p>Puedes contactarnos mediante correo electrónico: <a href="#">consultantnbhd@gmail.com</a></p></li>
                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Puedes contactarnos mediante nuestras redes sociales </p></li>
                    <li><a href="#"><i class="fab fa-viber fleft padding-right"></i> </a><p>Puedes contactarnos llamándonos personalmente: <a href="#"> +34 917 40 72 72 </a></p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="../contacto">Sobre Nosotros</a></li>
        </ul>
        <p class="text-center">Copyright @2022 | Todos los derechos reservados <a href="#">NBHD</a></p>
        <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
