<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


<footer class="footer_dis" id="footer_dis">

  <div class="footer_izquierdo">
      <h3>NBHD</h3>

      <p class="footer_links">
          <a href="https://softtek.eu/aviso-legal/">Aviso legal</a>
          |
          <a href="https://softtek.eu/politica-de-privacidad/">Privacidad</a>
          |
          <a href="https://softtek.eu/politica-de-cookies/">Cookies</a>
      </p>

      <p class="footer_nombre">© 2022 <strong>NBHD</strong> - Todos los derechos reservados.</p>
  </div>

  <div class="footer_central">
      <div>
          <i class="fa fa-envelope"></i>
          <p>contacto@nbhd.com</p>
      </div>

      <div>
          <i class="fa fa-phone"></i>
          <p>+34 683 983 002</p>
      </div>
      <div>
          <i class="fa fa-map-marker"></i>
          <p>Madrid (España)</p>
      </div>
  </div>

  <div class="footer_derecho">
      <p class="footer_redes">
          <span>SIGUENOS</span>
     <div class="footer_iconos">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
      </div>
  </div>
</footer>
