$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;
$light-grey: #DBD9D8;

hr.new5 {
  border: 10px solid $blue;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.componentes-grid{
    margin: 10px 30px;
}
.componente-card{
    margin-left: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: $blue;
}
.iconImage{
    width: 40px;
    height: 40px;
}

.sentiment-definition {
    text-align: center;
}

.persona-image{
    width: 100px;
    height: 100px;
}
.ppal-container {
    margin-left: 10vw;
    margin-right: 10vw;
    .sentiment-definition {

        margin-bottom: 5vh;
    }
}

h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
}

.btn{
    background: white;
    transition: 1s;
    &:hover {
        background: #DBD9D8;
    }
}

.titulo {
  background-color: white;
  padding: 20px 0 20px;
}

.quienes_somos {
  background-color: white;
}

.titulo h1{
  color: $blue;
}

.titulo h2{
  text-align: center;
  margin: 0 auto;
  font-size: 19px;
  color: black;
  width: 50%;
  font-weight: bolder;
}

.quienes_somos h3{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  font-size: 15px;
  color: black;
  width: 80%;
}


