<div class="titulo">
    <h1>Conectamos a las personas con los lugares más apropiados</h1>
    <h2>Una forma sencilla, potente y con mucho valor añadido para descubrir la estancia perfecta.</h2></div>

    <div class="quienes_somos">
    <h3>
        La solución propuesta será una aplicación web/app mobile first donde el usuario pueda indicar una localización geográfica (localidad, calle, región…) y se le indiquen inmuebles (casas, locales, garajes…) para compra o alquiler. A partir del inmueble que más le interese indicar los establecimientos o puntos de interés más relevantes del lugar, pudiéndose indicar algunas características del mismo para que el usuario obtenga más información relevante acerca del mismo.
En caso de que el usuario sea público este indicará un punto/coordenada en el mapa y se le mostrarán algunos establecimientos, pero con limitaciones en la muestra de información.
En conclusión, la aplicación mostrará al usuario información sobre un inmueble y que pueda tomar una decisión sobre si alquila o compra ese inmueble a partir de información “no económica” (hay cerca de estaciones de tren, bus o metro, barrio sin violencia, parques o ambiente natural cercano, etc).

    </h3>
</div>

<hr class="new5">

<div class="titulo">
    <h1> Equipo de desarrollo </h1>
</div>


<div class="componentes-grid">
    <div class="row text-center">
        <div class="col-xl-1 mb-5"></div>
        <div class="col-xl-2 col-sm-6 mb-5">
            <div class="componente-card bg-white rounded shadow-lg py-4 px-4  "><img src="../../assets/images/pablopascual.PNG" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm persona-image">
                <h5 class="mb-0">Pablo Pascual</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a class="btn btn-footer btn-floating m-1" href="https://github.com/pablopascu99" role="button">
                            <img class="iconImage" src="../../assets/images/githubIcon.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-5">
            <div class="componente-card bg-white rounded shadow-lg py-4 px-4  "><img src="../../assets/images/nacho.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm persona-image">
                <h5 class="mb-0">Ignacio del Valle</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a class="btn btn-footer btn-floating m-1" href="https://github.com/joseIgnaciodv" role="button">
                            <img class="iconImage" src="../../assets/images/githubIcon.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-5">
            <div class="componente-card bg-white rounded shadow-lg py-4 px-4  "><img src="../../assets/images/miguel.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm persona-image">
                <h5 class="mb-0">Miguel Ramos</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a class="btn btn-footer btn-floating m-1" href="https://github.com/MiguelRamosLop" role="button">
                            <img class="iconImage" src="../../assets/images/githubIcon.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-5">

            <div class="componente-card bg-white rounded shadow-lg py-4 px-4  "><img src="../../assets/images/pablopoza.PNG" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm persona-image">
                <h5 class="mb-0">Pablo Poza</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a class="btn btn-footer btn-floating m-1" href="https://github.com/ppoza098" role="button">
                            <img class="iconImage" src="../../assets/images/githubIcon.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-5">
            <div class="componente-card bg-white rounded shadow-lg py-4 px-4  "><img src="../../assets/images/ricardodelgado.PNG" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm persona-image">
                <h5 class="mb-0">Ricardo Delgado</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a class="btn btn-footer btn-floating m-1" href="https://github.com/elrichardev" role="button">
                            <img class="iconImage" src="../../assets/images/githubIcon.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-1 mb-5"></div>
    </div>
</div>


