<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="item">
	<h1 class="title">Local Pepe</h1>
	<figure>
		<img src="https://alicanteplaza.es/public/Image/2017/9/botellazo_NoticiaAmpliada.jpg" alt="">
		<figcaption>Foto de Local Pepe</figcaption>
	</figure>
	<p class="description"><i class=""> - Descripción: </i>
    Bonita , luminosa y amplia vivienda. Tercera planta SIN ascensor, amplia cocina, dos dormitorios y dos cuartos de baño con plato de ducha. No tiene calefacción. Ventanas de PVC, Carpintería interior de Roble.Agua caliente por termo electrico y suelos de tarima. Fontanería y electricidad renovadas. Gastos de comunidad 36 euros / mes.</p>
  <p class="price"><i class=""> - Precio: </i> 222€</p>
  <p class="characteristics"><i class=""> - Características: </i> 2 habitaciones y 75 m²</p>
	<p class="location"><i class=""> - Ubicación: </i> Centro, Alcobendas Ciudad, Alcobendas</p>
  <p class="phone"><i class=""> - Teléfono: </i> +34 678 767 876</p>
</div>
