@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);


.ppal-container {
  height: 70%;
  background-size: 100% 100%;
  filter: opacity(0.8) drop-shadow(0 0 0 #F7F7F7);
  background-image: url("../../assets/images/madrid-wallpaper.png");
  }

.field {
  padding-top: 220px;
  display:flex;
  margin: auto;
  width: 43%;
  border-bottom: 4px solid rgb(112, 139, 165);
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(112, 139, 165),
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(112, 139, 165);
  color:white;
  border:none;
}
