.ppal-container {
    margin-left: 10vw;
    margin-right: 10vw;
    .sentiment-definition {
        text-align: justify;
        margin-bottom: 5vh;
    }
}

.sentiment-container-button {
    text-align: center;
    
    .sentiment-button {
        margin-top: 2vh;
        margin-bottom: 5vh;
        justify-content: center;
    }
}
