<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<body>

  <div class="photo">
    <div class="conjunto">
            <div class="cont_img">
                <img class="img_logo" src="../../assets/images/NBHD.png">
            </div>
            <!-- <span class="text_logo">NBHD</span> -->
    </div>
  </div>


  <div class="items">
    
    
    <h1> ¿En qué estás interesado? </h1>
    
    <form class="search">
      <mat-form-field>
        <input type="text"
              spellcheck="false"
              matInput
              placeholder=""
              [formControl]="control"
              [matAutocomplete]="auto">
        <!-- <a href="" class="button">
        <i class="bi bi-search"> </i></a> -->
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="autocomp">
          <mat-option *ngFor="let country of filCountries | async" [value]="country">
            {{country}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
    
  

    
</body>


