$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;

.iconImage{
    width: 20px;
    height: 20px;
}
.persona-image{
    width: 100px;
    height: 100px;
}
.ppal-container {
    margin-left: 10vw;
    margin-right: 10vw;
    .sentiment-definition {
        text-align: justify;
        margin-bottom: 5vh;
    }
}

h1 {
    margin-top: 5vh;
    text-align: center;
}

.sentiment-container-button {
    text-align: center;
    
    .sentiment-button {
        margin-top: 2vh;
        margin-bottom: 5vh;
        justify-content: center;
        color: white;
        background-color: #34548B;
    }
}
