<div class="ppal-container">
    <h1> Análisis de sentimiento </h1>
    <p class="sentiment-definition"> El análisis de sentimiento es el campo de estudio que analiza las opiniones, 
        sentimiento, evaluaciones, actitudes y emociones de las personas a partir del lenguaje escrito. 
        El objetivo principal de este análisis es la creación de un clasificador que permita predecir 
        la polaridad de un texto respecto a un rango específico de posibles valores categóricos.  </p>
    <div class="sentiment-container-button">
        <button class="sentiment-button" (click)="irSentimiento()"> Análisis de sentimiento &#8594;</button>
    </div>
</div>
