<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<body>

  <div class="contenedor_img">
    <img src="assets/images/NBHD.png" alt="">
   
  </div>

  <div class="contenedor_h1">
    <h1>¿En qué estás interesado?</h1>
  </div>

  
  <div class="contenedor_buscador">
    <mat-form-field class="contenedor_tipo" appearance="fill">
        <mat-select ngDefaultControl [(ngModel)]="inmueble" disableOptionCentering>
          <mat-option *ngFor="let tipo of tipos" value={{tipo}}>
            {{tipo}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="linea_vertical"></div>

    <mat-form-field class="contenedor_buscar" appearance="fill">
        <input 
        matInput
        type="text"
        spellcheck=""
        placeholder="Madrid, Valladolid, Toledo, Murcia..."
        [formControl]="control"
        [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete" class="autocomp">
          <mat-option *ngFor="let country of filCountries | async" [value]="country">
            {{country}}
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix onclick="location.href='../resultados'">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
  </div>


</body>






