$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;


@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.left-side, .right-side {
    height: 100vh
}

.navbar-transparent {
    background: transparent
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li:hover {
    border-bottom: 0.3rem solid $green;
}

.navbar-brand:hover {
    color: $green
}

.left-side img {
    padding-top: 100px
}

.nav-item {
    font-size: 20px;
    color: $blue;
}

.navbar-toggler-icon {
    color: white;

}

.shape {
    width: 100%;
    height: 100vh;
    position: absolute;
    clip-path: fill-box;
    -webkit-clip-path: ellipse(500px 500px at 10% 5%)
}

.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}
