$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;

.iconLogo{
    display: block;
    margin-left: -15px;
    width: 100px;
    height: 100px;
}

.container-fluid {
    margin-top: -10px;
    margin-bottom: -7.8px;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    background: $blue;
    .nav-link {
        color: white;
        transition: 1s;
    }
}
.navbar-toggler-icon{
    background-image: url("../../assets/images/menu-icon.png");
}

.navbar-toggler{
    border-color: white;
}

.navbar-nav {
    padding: 20px;
}

.nav-item {
    text-align: center;
    margin-right: 3vh;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    transition: 1s;
}

.login{
    padding-top: 6px;
    padding-left: 1000px;

}
.register{
    padding-top: 6px;
    margin-left: 30px;
}

.logreg-item{
  text-align: right;
  margin-right: 3vh;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-item:hover{
    background-color: white;
    a{
        color: $green
    }
}
@media (max-width:768px){
    .nav-item{
        margin: 10px;
    }
}

a {
    letter-spacing: 1px;

}

.links_nav {
    color: #ffffff;
    font-size: 20px;
}

.activo {

    text-decoration: underline !important;
    text-decoration-color: $green;
}
