$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;

.iconLogo{
    display: block;
    width: 100px;
    height: 100px;
}

.container-fluid {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    background: $blue;
    .nav-link {
        color: white;
        transition: 1s; 
    }
}