.card{
  border: 1px solid black;
}

.col-md{
  padding: 20px;
  background-color: #F7F8F9;
}

.button{
  color: white;
  background-color: rgb(59, 59, 105);
}

.titulo{
  text-align: left;
  margin: 0 auto;
  color: black;
  width: 76%;
  margin-top: 30px;
}

.titulo h1{
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 25px;
}


