.contenedor_sentimiento{
    padding-top: 20px;
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.boton_analizar{
    padding-top: 25px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
