.input-container {
    text-align: center;
    margin-bottom: 20px;
}

.ppal-container {
    margin-left: 10vw;
    margin-right: 10vw;
    .sentiment-definition {
        text-align: justify;
        margin-bottom: 5vh;
    }
}

