$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;
$light-grey: #CDCCCC;

.positivo{
    border-radius: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #f6ead1;
    border: 2.75px solid #dbcbbd;
    background-color: $light-green;
    border-color: black;
}

.negativo{
    border-radius: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #f6ead1;
    border: 2.75px solid #dbcbbd;
    background-color: $red;
    border-color: black;
}

.neutro{
    border-radius: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #f6ead1;
    border: 2.75px solid #dbcbbd;
    background-color: #f6ead1;
    border-color: black;
}

.contenedor_sentimiento{
    padding-top: 40px;
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.form-label {
    padding-bottom: 10px ;
    font-size: 1.5em;
}

.boton_analizar{
    padding-top: 25px;
    margin: auto;
    text-align: center;
    padding-bottom: 12px;
}
.btn-analizar{
    background-color: $blue;
    color: white;
}

.caja_sentimiento_analizado{
  padding-top: 15px;
  padding-bottom: 25px;
}

.imagen_sentimiento{
    padding-top: 10px;
    width: 60px;
    height: 60px;
}

.metricas_sentimiento{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

.texto_insertado{
    padding-top: 35px;
}
