<mat-toolbar class="menu_navegacion">
    <div class="opciones_iconos" routerLink="/dashboard" routerLinkActive="activado" matRipple centered="True">
        <mat-icon>dashboard</mat-icon>
        <span class="texto_icono">Dashboard</span>
    </div>

    <div class="opciones_iconos" routerLink="/configuracion" routerLinkActive="activado" matRipple centered="True">
        <mat-icon>settings_applications</mat-icon>
        <span class="texto_icono">Configuración</span>
    </div>
</mat-toolbar>
